body {
	background-color: #DDEBF9;
	color: black;
}

.container .navigateur {
	text-align: center;
}

.bloc2 {
	border-radius: 10px;
	border-style: ridge;
	background-color: #FEFDFD;
	font-size: medium;
	font-weight: 600;
}

.container .navigateur img {
	width: 75px;
	height: 75px;
}

.image_frigolo img{
	width: 150px;
	height: 250px;
	float:right;
}

.toleft{
	float:left;
}

.text
{
	background-color:#EFECCA;
	border-radius:10px;
}